n8n-workflows/daily-audit.json
{
  "name": "Ops NEop — Daily Security Audit (3AM IST)",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Daily 3AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "30 21 * * *" }] }
      },
      "typeVersion": 1
    },
    {
      "id": "docker-scan",
      "name": "Docker Image Scan",
      "type": "n8n-nodes-base.httpRequest",
      "position": [470, 100],
      "parameters": {
        "url": "http://localhost:8765/mcp/invoke",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": {
          "tool": "stakpak_analyze",
          "input": { "prompt": "Scan all running Docker images for CVEs using Snyk. Report critical and high vulnerabilities.", "tools": ["snyk_scan", "docker_ps"] }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "dep-audit",
      "name": "Dependency Audit",
      "type": "n8n-nodes-base.httpRequest",
      "position": [470, 250],
      "parameters": {
        "url": "http://localhost:8765/mcp/invoke",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": {
          "tool": "stakpak_analyze",
          "input": { "prompt": "Run dependency vulnerability audit across all NeuralEDGE repositories. Check npm, pip, and cargo dependencies.", "tools": ["github_get_file_contents", "run_command"] }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "tls-check",
      "name": "TLS Certificate Check",
      "type": "n8n-nodes-base.httpRequest",
      "position": [470, 400],
      "parameters": {
        "url": "http://localhost:8765/mcp/invoke",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": {
          "tool": "stakpak_analyze",
          "input": { "prompt": "Check TLS certificate expiry dates for all NeuralEDGE domains. Alert if any expire within 30 days. Auto-renew if within 7 days.", "tools": ["check_cert_status", "renew_cert"] }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "aws-security",
      "name": "AWS Security Groups",
      "type": "n8n-nodes-base.httpRequest",
      "position": [470, 550],
      "parameters": {
        "url": "http://localhost:8765/mcp/invoke",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": {
          "tool": "stakpak_analyze",
          "input": { "prompt": "Audit AWS security groups for overly permissive rules (0.0.0.0/0 on non-HTTP ports). Check S3 bucket policies for public access. Review IAM policies.", "tools": ["ec2_describe", "s3_list"] }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "position": [740, 300],
      "parameters": {
        "jsCode": "const results = $input.all().map(i => i.json);\nconst critical = results.filter(r => r.severity === 'critical').length;\nconst high = results.filter(r => r.severity === 'high').length;\n\nreturn [{\n  json: {\n    report_date: new Date().toISOString().split('T')[0],\n    total_findings: results.length,\n    critical_count: critical,\n    high_count: high,\n    results: results,\n    needs_immediate_action: critical > 0\n  }\n}];"
      },
      "typeVersion": 1
    },
    {
      "id": "store-report",
      "name": "Store in Context Vault",
      "type": "n8n-nodes-base.httpRequest",
      "position": [960, 300],
      "parameters": {
        "url": "http://localhost:8765/mcp/invoke",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": {
          "tool": "context_vault_write",
          "input": { "table": "audit_log", "data": "={{ JSON.stringify($json) }}" }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "notify-critical",
      "name": "Notify If Critical",
      "type": "n8n-nodes-base.if",
      "position": [1180, 300],
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.needs_immediate_action }}", "value2": true }] }
      },
      "typeVersion": 1
    },
    {
      "id": "slack-critical",
      "name": "Alert Critical Findings",
      "type": "n8n-nodes-base.slack",
      "position": [1400, 200],
      "parameters": {
        "channel": "#ops-alerts",
        "text": "SECURITY AUDIT: {{ $json.critical_count }} critical findings require immediate action.\n\nFull report available in Context Vault."
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily 3AM IST": { "main": [[{ "node": "Docker Image Scan", "type": "main", "index": 0 }, { "node": "Dependency Audit", "type": "main", "index": 0 }, { "node": "TLS Certificate Check", "type": "main", "index": 0 }, { "node": "AWS Security Groups", "type": "main", "index": 0 }]] },
    "Docker Image Scan": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Dependency Audit": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "TLS Certificate Check": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "AWS Security Groups": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Aggregate Results": { "main": [[{ "node": "Store in Context Vault", "type": "main", "index": 0 }]] },
    "Store in Context Vault": { "main": [[{ "node": "Notify If Critical", "type": "main", "index": 0 }]] },
    "Notify If Critical": { "main": [[{ "node": "Alert Critical Findings", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ops-neop" }, { "name": "security" }]
}
